body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-wrapper span {
  display: block;
  font-size: 50px;
  margin-bottom: 20px;
}

.login-form input {
  all: unset;
  width: 100%;
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-bottom 0.2s linear;
  animation: underline 1s ease-in-out;
}

.login-form input:focus {
  border-bottom: 1.5px solid black;
}

@keyframes underline {
  0% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}