@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');
@import "login.css";
@import "todoList.css";

body {
  font-family: 'Edu SA Beginner', cursive;
}


.greeting-text {
  font-size: 60px;
  margin: 50px 0px;
}

body img {
  position: fixed;
  z-index: -99;
  width: 100vw;
  height: 100vh;
}

.clock {
  font-size: 120px;
  font-weight: 600;
  color: black;
}

.quotes__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 40px;
  color: gray;
}

.quote {
  font-size: 35px;
  margin-bottom: 10px;
}

.author {
  font-size: 20px;
}

.weather__container {
  width: 140px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 30px;
}

.weather-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.weather-info span:first-child {
  margin-bottom: 10px;
}

/*hidden*/
.hidden {
  display: none;
}