@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');
@import "login.css";
@import "todoList.css";

body {
  font-family: 'Edu SA Beginner', cursive;
}


.greeting-text {
  font-size: 60px;
  margin: 50px 0px;
}

body img {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.clock {
  font-size: 120px;
  font-weight: 600;
  color: black;
}

/*hidden*/
.hidden {
  display: none;
}